openapi: 3.2.0
info:
  contact:
    email: hello@arta.io
    name: Arta
    url: https://manual.arta.io/
  description: The Arta Public API provides quote generation, transport booking, and tracking capabilities. Additionally the API enables Arta partner organizations to configure email and webhook notifications for their accounts.
  termsOfService: https://www.arta.io/legal/terms
  title: Arta Public Metadata API
  version: '2021-01-01'
servers:
- url: https://api.arta.io
  variables: {}
security: []
tags:
- name: Metadata
paths:
  /metadata/api_versions:
    get:
      callbacks: {}
      deprecated: false
      description: The list of API versions supported by Arta's API.
      operationId: metadata/apiVersions
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataApiVersion'
          description: A collection of API versions
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: API Versions
      tags:
      - Metadata
  /metadata/commercial_carriers:
    get:
      callbacks: {}
      deprecated: false
      description: The list of commercial carriers supported by Arta's API.
      operationId: metadata/commercialCarriers
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataCommercialCarrier'
          description: A collection of commercial carriers
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Commercial Carriers
      tags:
      - Metadata
  /metadata/currencies:
    get:
      callbacks: {}
      deprecated: false
      description: The list of currencies supported by Arta's API.
      operationId: metadata/currencies
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataCurrency'
          description: A collection of currency types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Currencies
      tags:
      - Metadata
  /metadata/email_notifications:
    get:
      callbacks: {}
      deprecated: false
      description: The list of email notification types supported by Arta's API.
      operationId: metadata/emailNotifications
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataEmailNotification'
          description: A collection of email notification types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Email Notifications
      tags:
      - Metadata
  /metadata/insurance_policy_booking_disqualifications:
    get:
      callbacks: {}
      deprecated: false
      description: The list of reasons that may disqualify an insurance policy from being booked.
      operationId: metadata/insurancePolicyBookingDisqualifications
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataInsurancePolicyBookingDisqualification'
          description: A collection of insurance policy booking disqualifications
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Insurance Policy Booking Disqualifications
      tags:
      - Metadata
  /metadata/insurance_policy_coverage_types:
    get:
      callbacks: {}
      deprecated: false
      description: The list of insurance policy coverage types supported by Arta's API.
      operationId: metadata/insurancePolicyCoverageTypes
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataInsurancePolicyCoverageType'
          description: A collection of insurance policy coverage types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Insurance Policy Coverage Types
      tags:
      - Metadata
  /metadata/insurance_policy_statuses:
    get:
      callbacks: {}
      deprecated: false
      description: The list of insurance policy statuses supported by Arta's API.
      operationId: metadata/insurancePolicyStatuses
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataInsurancePolicyStatus'
          description: A collection of insurance policy statuses
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Insurance Policy Statuses
      tags:
      - Metadata
  /metadata/insurances:
    get:
      callbacks: {}
      deprecated: false
      description: The list of insurance types supported by Arta's API.
      operationId: metadata/insurances
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataInsurance'
          description: A collection of insurance types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Insurances
      tags:
      - Metadata
  /metadata/location_access_restrictions:
    get:
      callbacks: {}
      deprecated: true
      description: The list of location access restriction types supported by Arta's API.
      operationId: metadata/locationAccessRestrictions
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataLocationAccessRestriction'
          description: A collection of location access restriction types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Location Access Restrictions
      tags:
      - Metadata
  /metadata/object_components:
    get:
      callbacks: {}
      deprecated: false
      description: The list of object component types supported by Arta's API.
      operationId: metadata/objectComponents
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataObjectComponent'
          description: A collection of object component types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Object Components
      tags:
      - Metadata
  /metadata/object_materials:
    get:
      callbacks: {}
      deprecated: true
      description: The list of object material types supported by Arta's API.
      operationId: metadata/objectMaterials
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataObjectMaterial'
          description: A collection of object material types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Object Materials
      tags:
      - Metadata
  /metadata/objects:
    get:
      callbacks: {}
      deprecated: false
      description: The list of object types supported by Arta's API.
      operationId: metadata/objects
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataObject'
          description: A collection of object types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Objects
      tags:
      - Metadata
  /metadata/package_statuses:
    get:
      callbacks: {}
      deprecated: false
      description: The list of package status types supported by Arta's API.
      operationId: metadata/packageStatuses
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPackageStatus'
          description: A collection of package status types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Package Statuses
      tags:
      - Metadata
  /metadata/packings:
    get:
      callbacks: {}
      deprecated: false
      description: The list of packing types supported by Arta's API.
      operationId: metadata/packings
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPacking'
          description: A collection of packing types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Packings
      tags:
      - Metadata
  /metadata/parcel_transport_services:
    get:
      callbacks: {}
      deprecated: false
      description: The list of parcel transport service types supported by Arta's API.
      operationId: metadata/parcelTransportServices
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataParcelTransportService'
          description: A collection of parcel transport service types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Parcel Transport Services
      tags:
      - Metadata
  /metadata/payment_process_types:
    get:
      callbacks: {}
      deprecated: false
      description: The list of payment process types supported by Arta's API.
      operationId: metadata/paymentProcessTypes
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPaymentProcessType'
          description: A collection of shipment Payment Process types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Payment Process Types
      tags:
      - Metadata
  /metadata/quotes:
    get:
      callbacks: {}
      deprecated: false
      description: The list of Quote types provided by Arta.
      operationId: metadata/quotes
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataQuote'
          description: A collection of quote types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Quote Types
      tags:
      - Metadata
  /metadata/quoting_strategies:
    get:
      callbacks: {}
      deprecated: false
      description: The list of quoting strategies supported by Arta.
      operationId: metadata/quotingStrategies
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataQuotingStrategy'
          description: A collection of quoting strategies
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Quoting Strategies
      tags:
      - Metadata
  /metadata/reference_rate_providers:
    get:
      callbacks: {}
      deprecated: false
      description: The list of reference rate providers supported by Arta's API.
      operationId: metadata/referenceRateProviders
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataReferenceRateProvider'
          description: A collection of reference rate providers
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Reference Rate Providers
      tags:
      - Metadata
  /metadata/reference_rate_service_levels:
    get:
      callbacks: {}
      deprecated: false
      description: The list of reference rate service levels supported by Arta's API.
      operationId: metadata/referenceRateServiceLevels
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataReferenceRateServiceLevel'
          description: A collection of reference rate service levels
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Reference Rate Service Levels
      tags:
      - Metadata
  /metadata/request_statuses:
    get:
      callbacks: {}
      deprecated: false
      description: The list of statuses for a quote request resources.
      operationId: metadata/requestStatuses
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataRequestStatus'
          description: A collection of quote request statuses
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Quote Request Statuses
      tags:
      - Metadata
  /metadata/services:
    get:
      callbacks: {}
      deprecated: false
      description: The list of shipment services supported by Arta's API.
      operationId: metadata/services
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataService'
          description: A collection of service types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Services
      tags:
      - Metadata
  /metadata/shipment_exception_types:
    get:
      callbacks: {}
      deprecated: false
      description: Retrieve the list of shipment exception types
      operationId: metadata/shipmentExceptionTypes
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataShipmentExceptionType'
          description: A collection of shipment exception types
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Shipment Exception Types
      tags:
      - Metadata
  /metadata/shipment_statuses:
    get:
      callbacks: {}
      deprecated: false
      description: The list of statuses for a shipment on Arta.
      operationId: metadata/shipmentStatuses
      parameters:
      - description: Authorize your API calls with an Arta API token
        example: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          x-struct: null
          x-validate: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataShipmentStatus'
          description: A collection of shipment statuses
          headers:
            content-type:
              example: application/json
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
            x-arta-request-id:
              description: A unique identifier for the Arta API call
              example: FkBjuxbwLLTx4RoAARkx
              schema:
                type: string
                x-struct: null
                x-validate: null
              style: simple
      summary: Shipment Statuses
      tags:
      - Metadata
components:
  schemas:
    MetadataObjectMaterial:
      items:
        properties:
          description:
            description: A long form description of the currency
            example: a strong, coarse unbleached cloth made from hemp, flax, cotton, or a similar yarn
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: canvas
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the resource
            example: Canvas
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataObjectMaterial
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ObjectMaterial
      x-validate: null
    MetadataApiVersion:
      items:
        properties:
          authentication:
            description: The list of authentication schema supported by this API version
            items:
              example: api_key
              type: string
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
          description:
            description: A long form description
            example: A key-authenticated API Version released on October 22, 2020.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: '2020-10-22'
            type: string
            x-struct: null
            x-validate: null
          status:
            description: Indicates whether the API version is active, beta, or deprecated
            example: active
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataApiVersion
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ApiVersion
      x-validate: null
    MetadataRequestStatus:
      items:
        properties:
          description:
            description: A long form description
            example: Eligible shipment quotes have been added to the request
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: quoted
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Quoted
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataRequestStatus
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.RequestStatus
      x-validate: null
    MetadataInsurancePolicyBookingDisqualification:
      items:
        properties:
          description:
            description: A long form description
            example: Insurance coverage cannot be activated because one or more packages have already been picked up by the carrier. Coverage must be purchased before shipment begins.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: package_in_transit
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Package in transit
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataInsurancePolicyBookingDisqualification
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.InsurancePolicyBookingDisqualification
      x-validate: null
    MetadataPaymentProcessType:
      items:
        properties:
          description:
            description: A long form description
            example: The total is paid to Arta through an Arta Checkout payment.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: checkout
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Checkout
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataPaymentProcessType
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.PaymentProcessType
      x-validate: null
    MetadataCommercialCarrier:
      example:
      - id: dhl_express
        name: DHL Express
      - id: fedex
        name: FedEx
      - id: ups
        name: UPS
      - id: usps
        name: USPS
      items:
        properties:
          id:
            description: The ID representing the carrier
            example: dhl_express
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the carrier
            example: DHL Express
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataCommercialCarrier
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.CommercialCarrier
      x-validate: null
    MetadataQuote:
      items:
        properties:
          description:
            description: A long form description
            example: Specialized climate-controlled transportation operated by trained technicians from wall-to-wall
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: premium
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Arta Premium
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataQuote
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Quote
      x-validate: null
    MetadataEmailNotification:
      items:
        properties:
          description:
            description: A long form description
            example: Delivered when a shipment is confirmed.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: booking
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Booking Confirmation
            type: string
            x-struct: null
            x-validate: null
          optional_recipients:
            description: The list of configurable recipients for this notification
            items:
              example: destination
              type: string
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataEmailNotification
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.EmailNotification
      x-validate: null
    MetadataObjectComponent:
      items:
        properties:
          description:
            description: A long form description
            example: A painting that is framed behind a glass face.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: painting_framed_glass
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Painting (framed with glass)
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataObjectComponent
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ObjectComponent
      x-validate: null
    MetadataPacking:
      items:
        properties:
          description:
            description: A long form description
            example: Object is packed in plastic or bubble only
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: soft_wrap
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Soft Wrap
            type: string
            x-struct: null
            x-validate: null
          subtypes:
            description: The subtypes for this resource
            items:
              description: An object subtype
              properties:
                description:
                  description: A long form description
                  example: Wraped in dartek film.
                  type: string
                  x-struct: null
                  x-validate: null
                id:
                  description: The ID representing the resource
                  example: dartek_only
                  type: string
                  x-struct: null
                  x-validate: null
                name:
                  description: A brief title for the resource
                  example: Dartek only
                  type: string
                  x-struct: null
                  x-validate: null
              type: object
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataPacking
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Packing
      x-validate: null
    MetadataQuotingStrategy:
      items:
        properties:
          description:
            description: A long form description
            example: Returns the lowest-cost option per transport service. This strategy is ideal when cost efficiency is the priority and carrier choice is not a concern.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: best_rate
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Best Rate
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataQuotingStrategy
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.QuotingStrategy
      x-validate: null
    MetadataReferenceRateServiceLevel:
      example:
      - id: arta
        name: Arta
      - id: dhl_express_worldwide
        name: DHL Express
      - id: fedex_2_day
        name: FedEx Priority
      - id: fedex_ground
        name: FedEx Ground
      - id: ups_ground
        name: UPS Ground
      items:
        properties:
          id:
            description: The ID representing the service level
            example: ups_2nd_day_air
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the service level
            example: UPS 2nd Day Air
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataReferenceRateServiceLevel
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ReferenceRateServiceLevel
      x-validate: null
    MetadataShipmentStatus:
      items:
        properties:
          description:
            description: A long form description
            example: A quote has been booked and is awaiting confirmation by an Arta logistics specialist
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: pending
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Pending
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataShipmentStatus
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ShipmentStatus
      x-validate: null
    MetadataParcelTransportService:
      items:
        properties:
          description:
            description: A long form description
            example: Delivers the following business day once shipped. Available in the contiguous US and Puerto Rico.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: next_day_air
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Next Day Air
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataParcelTransportService
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ParcelTransportService
      x-validate: null
    MetadataReferenceRateProvider:
      example:
      - id: arta
        name: Arta
      - id: dhl_express
        name: DHL Express
      - id: fedex
        name: FedEx
      - id: ups
        name: UPS
      - id: usps
        name: USPS
      items:
        properties:
          id:
            description: The ID representing the carrier
            example: dhl_express
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the carrier
            example: DHL Express
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataReferenceRateProvider
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ReferenceRateProvider
      x-validate: null
    MetadataService:
      items:
        properties:
          description:
            description: A long form description
            example: All handling for items at location and in transit.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: handling
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Handling Services
            type: string
            x-struct: null
            x-validate: null
          subtypes:
            description: The subtypes for this resource
            items:
              description: An object subtype
              properties:
                description:
                  description: A long form description
                  example: All installation services.
                  type: string
                  x-struct: null
                  x-validate: null
                id:
                  description: The ID representing the resource
                  example: installation
                  type: string
                  x-struct: null
                  x-validate: null
                name:
                  description: A brief title for the resource
                  example: Installation
                  type: string
                  x-struct: null
                  x-validate: null
                sub_subtypes:
                  description: The subtypes for this resource
                  items:
                    description: An object subtype
                    properties:
                      description:
                        description: A long form description
                        example: Object assembly at the destination
                        type: string
                        x-struct: null
                        x-validate: null
                      id:
                        description: The ID representing the resource
                        example: assembly
                        type: string
                        x-struct: null
                        x-validate: null
                      is_requestable:
                        description: Whether this service is requestable by the client
                        example: true
                        type: boolean
                        x-struct: null
                        x-validate: null
                      name:
                        description: A brief title for the resource
                        example: Assembly
                        type: string
                        x-struct: null
                        x-validate: null
                    type: object
                    x-struct: null
                    x-validate: null
                  type: array
                  x-struct: null
                  x-validate: null
              type: object
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataService
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Service
      x-validate: null
    MetadataInsurancePolicyStatus:
      items:
        properties:
          description:
            description: A long form description
            example: in transit state
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: active
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Active
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataInsurancePolicyStatus
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.InsurancePolicyStatus
      x-validate: null
    MetadataObject:
      items:
        properties:
          description:
            description: A long form description
            example: Works of art various media including paintings, sculpture, or works on paper.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: art
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Works of art
            type: string
            x-struct: null
            x-validate: null
          subtypes:
            description: The subtypes for this resource
            items:
              description: An object subtype
              properties:
                description:
                  description: A long form description
                  example: A painting that is framed behind a glass face.
                  type: string
                  x-struct: null
                  x-validate: null
                id:
                  description: The ID representing the resource
                  example: painting_framed_glass
                  type: string
                  x-struct: null
                  x-validate: null
                name:
                  description: A brief title for the resource
                  example: Painting (framed with glass)
                  type: string
                  x-struct: null
                  x-validate: null
              type: object
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataObject
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Object
      x-validate: null
    MetadataShipmentExceptionType:
      example:
      - can_create: false
        category: Alert
        id: change_of_address_request
        name: Change of Address Request
        resolutions:
        - Updated without cost changes
        - Updated with additional costs
        - Address could not be changed
        - Returned to Sender
      - can_create: false
        category: Action Required
        id: customs_information_required
        name: Customs Information Required
        resolutions:
        - EEI Form Submitted
      - can_create: false
        category: Alert
        id: damaged_items
        name: Damaged Items
        resolutions:
        - Repair
        - Total Loss
        - Partial Loss
      - can_create: false
        category: Action Required
        id: direct_payment_required
        name: Direct Payment Required
        resolutions:
        - Balance Cleared
      - can_create: false
        category: Action Required
        id: held_at_customs
        name: Held at Customs
        resolutions:
        - Cleared Customs
        - Returned to Sender
      - can_create: false
        category: Action Required
        id: inaccurate_object_details
        name: Inaccurate Object Details
        resolutions:
        - Updated without cost changes
        - Updated with additional costs
      - can_create: false
        category: Action Required
        id: incorrect_address
        name: Incorrect Address
        resolutions:
        - Origin Location Updated w/o Cost Changes
        - Origin Location Updated w/ Additional Costs
        - Destination Location Updated w/o Cost Changes
        - Destination Location Updated w/ Additional Costs
      - can_create: false
        category: Shipment Hold
        id: label_hold
        name: Label Hold
        resolutions:
        - Cancelled Shipment
        - Labels Released
      - can_create: false
        category: Alert
        id: lost_in_transit
        name: Lost in Transit
        resolutions:
        - Found
        - Permanently Lost
      - can_create: false
        category: Action Required
        id: not_ready_for_delivery
        name: Not Ready for Delivery
        resolutions:
        - Delivery Rescheduled
        - Returned to Sender
      - can_create: false
        category: Action Required
        id: not_ready_for_release
        name: Not Ready for Release
        resolutions:
        - Collection Rescheduled
      - can_create: false
        category: Alert
        id: other
        name: Other
        resolutions: []
      - can_create: false
        category: Action Required
        id: prepayment_required
        name: Prepayment Required
        resolutions:
        - Balance Cleared
      - can_create: true
        category: Shipment Hold
        id: requested_hold_to_collect
        name: Requested Hold to Collect
        resolutions:
        - Collection Rescheduled
      - can_create: false
        category: Shipment Hold
        id: requested_hold_to_deliver
        name: Requested Hold to Deliver
        resolutions:
        - Delivery Rescheduled
        - Returned to Sender
      - can_create: false
        category: Alert
        id: wrong_item
        name: Wrong Item
        resolutions:
        - Correct Items Delivered
      items:
        properties:
          can_create:
            description: Defines whether or not shipment exceptions of this type may be created by API clients
            type: boolean
            x-struct: null
            x-validate: null
          category:
            description: The category this shipment exception type belongs to
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID of the shipment exception type
            type: string
            x-struct: null
            x-validate: null
          name:
            description: The name of the shipment exception type
            type: string
            x-struct: null
            x-validate: null
          resolutions:
            description: A list of strings representing accepted resolutions for shipment exceptions of this type
            items:
              type: string
              x-struct: null
              x-validate: null
            type: array
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataShipmentExceptionType
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.ShipmentExceptionType
      x-validate: null
    MetadataCurrency:
      items:
        properties:
          id:
            description: The ID representing the resource
            example: USD
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the currency
            example: US Dollar
            type: string
            x-struct: null
            x-validate: null
          symbol:
            description: The symbol used to denote that a number is a monetary value in a particular currency
            example: $
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataCurrency
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Currency
      x-validate: null
    MetadataInsurance:
      items:
        properties:
          description:
            description: A long form description
            example: Arta full risk coverage transit insurance.
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: arta_transit_insurance
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Arta Full Risk
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataInsurance
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.Insurance
      x-validate: null
    MetadataPackageStatus:
      items:
        properties:
          description:
            description: A long form description
            example: Item has shipped from originating and is en route to its destination
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing this status
            example: transit
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Transit
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataPackageStatus
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.PackageStatus
      x-validate: null
    MetadataInsurancePolicyCoverageType:
      items:
        properties:
          description:
            description: A long form description
            example: Coverage for shipments handled through Arta's shipping services
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: arta_shipping
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief title for the resource
            example: Arta Shipping
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataInsurancePolicyCoverageType
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.InsurancePolicyCoverageType
      x-validate: null
    MetadataLocationAccessRestriction:
      deprecated: true
      items:
        properties:
          description:
            description: A long form description
            example: The location can only be accessed by elevator
            type: string
            x-struct: null
            x-validate: null
          id:
            description: The ID representing the resource
            example: elevator_only
            type: string
            x-struct: null
            x-validate: null
          name:
            description: A brief label for the resource
            example: Only Elevator
            type: string
            x-struct: null
            x-validate: null
        type: object
        x-struct: null
        x-validate: null
      title: MetadataLocationAccessRestriction
      type: array
      x-struct: Elixir.DocsWeb.Schemas.Response.Metadata.LocationAccessRestriction
      x-validate: null
x-topics:
- content: 'The Arta API accepts server-to-server communications authenticated by API keys. Your API keys are self-managed and unique to your organization.


    Using your API key to authenticate an API call is straightforward. Simply include your API Key token in the Authorization header of every call made to the system. This is the only place that it is accepted.'
  example: "```shell\n\n$ curl \\ \n\n -X GET https://api.arta.io/shipments \\ \n\n -H \"Authorization: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y\""
  title: Authentication
- content: "Arta imposes rate limits on API requests to maintain system stability and ensure fair usage. If you exceed these limits, the API will return a `429 Too Many Requests` error. Below are the rate limits for both Live and Test modes.\n\n**Live Mode:**\n\n*\tConcurrent requests: 15 API calls at the same time (any type)\n* Instant quote requests: 20 calls per minute\n* Overall requests: 1000 API calls per minute (any type)\n\n**Test Mode:**\n\n* Concurrent requests: 10 API calls at the same time (any type)\n* Instant quote requests: 10 calls per minute\n* Overall requests: 500 API calls per minute (any type)\n\nWhen a rate limit is exceeded, we recommend implementing retry logic with exponential backoff to handle 429 errors effectively."
  title: Rate Limits
- content: 'The Arta API supports flexible search functionality across multiple resources, including Shipments, Requests, Hosted Sessions, Tags, and others. Using the search query parameter, you can construct structured queries to filter results based on specific criteria.


    Key features of the search functionality include:


    * Support for negation, wildcards, numeric filters, and date comparisons.

    * Each search query consists of one or more clauses, where each clause contains a `field`, an operator, and a `value`.

    * Clauses operating on the same field are combined using OR logic, while clauses across different fields are combined using AND logic.


    * Use quotation marks to keep multi-word search terms together.


    This allows for powerful and precise filtering to retrieve the exact data you need from the API.


    **Syntax and operators**


    The following table lists the operators and syntax that you can use to construct a search query clause.


    | Operator     | Usage                          | Description                                                                 | Examples                                                            |

    |------------|--------------------------------|-----------------------------------------------------------------------------|---------------------------------------------------------------------|

    | `:`        | `field:value`                  | Exact match operator (case insensitive)                                     | `status:pending` returns records where the status is `pending` |

    | `*`        | `value*`                       | Use an asterisk (wildcard operator) at the end of a term to match fields that start with the fragment                                    | `art*` returns records that match "arta" and "artist" but not "smart" |

    | `*`        | `*value`                       | Use an asterisk at the start of a term to match fields that end with the fragment                                    | `*art` returns "smart" but not "martian" |

    | `-`        | `-field:value`                 | Returns records that don’t match the clause                                 | `-status:pending` returns records that do not have a status of pending                 |

    | `>, <, =`  | `field:<value`, `field:>value`, `field:>=value`, `field:<=value` | Greater than/less than operators              | `created-at:<=2021-01-01` returns records from the beginning of time through January 1, 2021   |

    | `..`       | `field:value1..value2`                 | Filters for values within a given range where the first number is the lowest value and the second is the highest                                 | `created-at:2021-05-01..2021-05-15` returns records where the `created_at` field is between May 1, 2021 and May 15, 2021                 |




    **Hosted Session search fields**


    | Field | Type |

    |------------|--------------|

    | `created-at` | date |

    | `destination-address-line-1` | string |

    | `destination-city` | string |

    | `destination-contacts-emails` | string |

    | `destination-contacts-names` | string |

    | `destination-contacts-phone-numbers` | string |

    | `destination-country` | string |

    | `destination-postal-code` | string |

    | `destination-region` | string |

    | `insurance` | string |

    | `internal-reference` | string |

    | `object-creators` | string |

    | `object-descriptions` | string |

    | `object-internal-references` | string |

    | `object-public-references` | string |

    | `object-titles` | string |

    | `origin-address-line-1` | string |

    | `origin-city` | string |

    | `origin-contacts-emails` | string |

    | `origin-contacts-names` | string |

    | `origin-contacts-phone-numbers` | string |

    | `origin-country` | string |

    | `origin-postal-code` | string |

    | `origin-region` | string |

    | `public-reference` | string |

    | `quote-type` | string |

    | `shipping-notes` | string |

    | `shortcode` | string |

    | `status` | string |

    | `type` | string |

    | `tags` | string |


    **Request search fields**


    | Field | Type |

    |------------|--------------|

    | `bookable` | string |

    | `created-at` | date |

    | `destination-address-line-1` | string |

    | `destination-city` | string |

    | `destination-contacts-emails` | string |

    | `destination-contacts-names` | string |

    | `destination-contacts-phone-numbers` | string |

    | `destination-country` | string |

    | `destination-postal-code` | string |

    | `destination-region` | string |

    | `hosted-session` | string |

    | `internal-reference` | string |

    | `object-creators` | string |

    | `object-descriptions` | string |

    | `object-internal-references` | string |

    | `object-public-references` | string |

    | `object-titles` | string |

    | `origin-address-line-1` | string |

    | `origin-city` | string |

    | `origin-contacts-emails` | string |

    | `origin-contacts-names` | string |

    | `origin-contacts-phone-numbers` | string |

    | `origin-country` | string |

    | `origin-postal-code` | string |

    | `origin-region` | string |

    | `public-reference` | string |

    | `quote-type` | string |

    | `shipping-notes` | string |

    | `shortcode` | string |

    | `status` | string |

    | `tags` | string |


    **Shipment search fields**


    | Field | Type |

    |------------|--------------|

    | `created-at` | date |

    | `destination-address-line-1` | string |

    | `destination-city` | string |

    | `destination-contacts-emails` | string |

    | `destination-contacts-names` | string |

    | `destination-contacts-phone-numbers` | string |

    | `destination-country` | string |

    | `destination-postal-code` | string |

    | `destination-region` | string |

    | `eei-form-status` | string |

    | `hosted-session` | string |

    | `internal-reference` | string |

    | `object-creators` | string |

    | `object-descriptions` | string |

    | `object-internal-references` | string |

    | `object-public-references` | string |

    | `object-titles` | string |

    | `origin-address-line-1` | string |

    | `origin-city` | string |

    | `origin-contacts-emails` | string |

    | `origin-contacts-names` | string |

    | `origin-contacts-phone-numbers` | string |

    | `origin-country` | string |

    | `origin-postal-code` | string |

    | `origin-region` | string |

    | `public-reference` | string |

    | `quote-type` | string |

    | `request-shortcode` | string |

    | `shipping-notes` | string |

    | `shortcode` | string |

    | `status` | string |

    | `tags` | string |

    | `total` | numeric |

    | `total-currency` | string |

    | `tracking-numbers` | string |


    **Tag search fields**


    | Field | Type |

    |------------|--------------|

    | `color` | string |

    | `description` | string |

    | `is_active` | string |

    | `name` | string |


    '
  title: Search
